.header-bar {
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 60px;
    left: 256px;
    right: 0;
    line-height: 60px;
    box-shadow: 0 0 8px #000;

}

.header-bar-close {
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 60px;
    left: 80px;
    right: 0;
    line-height: 60px;
    box-shadow: 0 0 8px #000;
    transition: all .1s;

}

.anticon-menu-unfold,
.anticon-menu-fold {
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
}

.home-btn {
    float: right;
    margin-right: 20px;

    .anticon-home {
        color: #000;
        cursor: pointer;
        font-size: 24px;
    }
}

.right-content {
    float: right;
}