.content-warp {
    position: absolute;
    left: 140px;
    padding: 20px;
    right: 0;
    bottom: 0;
    top: 40px;
}

.content-warp-close {
    position: absolute;
    left: 40px;
    padding: 20px;
    right: 0;
    bottom: 0;
    top: 40px;
}