.content-warp {
    position: absolute;
    left: 256px;
    padding: 20px;
    right: 0;
    bottom: 0;
    top: 60px;
}

.content-warp-close {
    position: absolute;
    left: 80px;
    padding: 20px;
    right: 0;
    bottom: 0;
    top: 60px;
}