// ul li {
//     list-style: none;
//     padding: 10px;
//     cursor: pointer;

//     a {
//         text-decoration: none;
//         color: #fff;

//     }

// }


.side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 256px;
}

.ant-menu {
    height: 100%;
}