ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #fff;

    }

}

.side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #2196f3;
    width: 140px;
    transition: all .1s;

}

.side-bar-close {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #2196f3;
    width: 40px;
    transition: all .1s;


}